<div class=buscador>
  <%=form_tag "/search/show", method: :get do %>
      <%=text_field_tag :keyword, nil, placeholder: "Ingresa alguna palabra"%>
      <%=content_tag :button, type: :submit do %>
        <div class=button>Buscar </div>
      <%end%>
  <%end%>
</div>

<div class=title>
  <h1>Personaje: <%=@response_character["name"]%></h1>
</div>

<table style="width:100%">
  <tr>
    <th>Foto</th>
    <th>Nombre</th>
    <th>Estado</th>
    <th>Especie</th>
    <th>Tipo</th>
    <th>Género</th>
    <th>Lugar de origen</th>
    <th>Ubicación</th>
    <th>Episodios en los que aparece</th>
  </tr>
  <tr>
    <td> <img src=<%= @response_character["image"]%> > </td>
    <td> <%= @response_character["name"] %> </td>
    <td> <%=@response_character["status"]%> </td>
    <td> <%=@response_character["species"]%> </td>
    <td> <%=@response_character["type"]%> </td>
    <td> <%=@response_character["gender"]%> </td>
    <td>
      <%if @respuesta=="No tiene un lugar de origen asociado"%>
        <%= @respuesta%>
      <%else%>
        <%=link_to @respuesta[1], location_show_info_path(@respuesta[0])%>
      <%end%>
    </td>
    <td>
      <%if @respuesta_2=="No tiene una ubicación asociada"%>
        <%= @respuesta_2%>
      <%else%>
        <%=link_to @respuesta_2[1], location_show_info_path(@respuesta_2[0])%>
      <%end%>
    </td>
    <td>
      <%if @episodios.is_a?(Hash)%>
        <ul>
          <li> <%= link_to @episodios["name"], episode_show_path(@episodios["id"])%> </li>
        </ul>
      <%else%>
        <%for elemento in @episodios do%>
          <ul>
            <li> <%= link_to elemento["name"], episode_show_path(elemento["id"])%> </li>
          </ul>
        <% end %>
      <%end%>
    </td>
  </tr>
</table>
