<div class=buscador>
  <%=form_tag "/search/show", method: :get do %>
    <%=text_field_tag :keyword, nil, placeholder: "Ingresa alguna palabra"%>
    <%=content_tag :button, type: :submit do %>
      <div class=button>Buscar </div>
    <%end%>
  <%end%>
</div>


<div class=title>
  <h1>Aplicación de Rick and Morty</h1>
</div>


<table style="width:100%">
  <tr>
    <th>Código del Episodio</th>
    <th>Nombre del episodio</th>
    <th>Fecha que estuvo al aire</th>
  </tr>
  <%for episodio in @response1['results'] do%>
    <tr>
      <td> <%= episodio["episode"]%> </td>
      <td> <%= link_to episodio["name"], episode_show_path(episodio["id"])%> </td>
      <td> <%= episodio["air_date"]%> </td>
    </tr>
  <% end %>
  <%for episodio in @response2['results'] do%>
    <tr>
      <td> <%= episodio["episode"]%> </td>
      <td> <%= link_to episodio["name"], episode_show_path(episodio["id"])%> </td>
      <td> <%= episodio["air_date"]%> </td>
    </tr>
  <% end %>
</table>
