<div class=buscador>
  <%=form_tag "/search/show", method: :get do %>
    <%=text_field_tag :keyword, nil, placeholder: "Ingresa alguna palabra"%>
    <%=content_tag :button, type: :submit do %>
      <div class=button>Buscar </div>
    <%end%>
  <%end%>
</div>

<div class=title>
  <h1>Capítulo: <%=@response_episode["name"]%></h1>
</div>

<table style="width:100%">
  <tr>
    <th>Código del Episodio</th>
    <th>Fecha que estuvo en el aire</th>
    <th>Personajes que aparecen</th>
  </tr>
  <tr>
    <td> <%= @response_episode["episode"]%> </td>
    <td> <%= @response_episode["air_date"]%> </td>
    <td>
      <%for elemento in @personajes do%>
        <ul>
          <li> <%= link_to elemento["name"], character_show_info_path(elemento["id"])%> </li>
        </ul>
      <% end %>
    </td>
  </tr>
</table>
